* {
  margin: 0;
}

:root {
  --main-color: #FFD54A;
  --secondary-color: #E6A452;
  --background-color: #111111;
  --light-color: #FFEEBD;
  --dark-color: #945910;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 1vh;
  padding-right: 3vw;
  padding-bottom: 1vh;
  padding-left: 3vw;

  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* FLEX  */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-8 {
  gap: 8px;
}

/* TEXT */

.text-bold {
  font-weight: bold;
}

/* GRID */

.cards-grid {
  display: grid;

  gap: 8px;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* OTHER */

.instructions {
  color: var(--secondary-color);
}

.score {
  color: var(--secondary-color);
  font-size: 1.1em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--main-color);
  border-radius: 8px;
  
  min-height: 425px;
}

.img-container {
  background-color: var(--secondary-color);
  border-radius: 8px;
  
  width: 75%;
  aspect-ratio: 1 / 1;
}

.img-container > img {
  width: 100%;
}

.pokemon-name {
  color: var(--dark-color);
  font-size: 1.5em;
  font-weight: bold;
}


@media (prefers-color-scheme: light) {
  :root {
    /* TODO: Comprobar si el contraste funciona correctamente */
  --main-color: #FFD54A;
  --secondary-color: #E6A452;
  --background-color: #FFFFFF;
  --light-color: #FFEEBD;
  --dark-color: #945910;
    
  }
}
